@model IEnumerable<MVC_CoreApp.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptUniqueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptUniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.DeptUniqueId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.DeptUniqueId })|
                    @Html.ActionLink("ShowDetails", "ShowDetails", new { id=item.DeptUniqueId })
            </td>
        </tr>
}
    </tbody>
</table>
