@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model != null)
{
   <h1>Error Occured  in @Model.ControllerName Controller class </h1>
   <h1>The NAme of Action Method that throws Error is @Model.ActionName </h1>
   <h1>The Error Message is @Model.ErrorMessage</h1>

    <a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName">Go Back</a>
}
else
{
    <!--THis Block will be executed for Custom Exception Filter
        because it is passing error Information using ViewData
    -->
    <h1>Error Occured  in @ViewData["ControllerName"] Controller class </h1>
       <h1>The NAme of Action Method that throws Error is @ViewData["ActionName"] </h1>
       <h1>The Error Message is @ViewData["ErrorMessage"]</h1>

    <a asp-controller="@ViewData["ControllerName"]" asp-action="@ViewData["ActionName"]">Go Back</a>
}
